:root {
  --backgound1 : #CCCCFF;
  --backgound2: 	#FFF8DC;
  --green: #00FF00;
  --active:#ABEBC6;
  --text: #FBFCFC;
  --title: #34495E;
}
.container{
  height: 100vh;
  background-color: var(--backgound1);
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}
.layout{
display: grid;
height: 98%;
width: 98%;
border-radius: 2rem;
background-color: var(--backgound2) ;
overflow: hidden;
grid-template-columns: 11rem auto 20rem;
gap: 10px;
}
@media screen and  (max-width:1200px) {
  .layout{
    grid-template-columns: 10% 50% auto ;
    overflow-y: scroll;

  }
  
}
@media screen and (max-width:768px) {
  .layout{
    grid-template-columns: 1fr;

  }
  .layout::-webkit-scrollbar{
    display: none;
  }
}